* {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
h3 {
  font-size: 2em;
}
.button {
  background: blue;
  color: white;
  border: none;
  padding: 0.8rem;
  min-width: fit-content;
  width: 100%;
  font-size: 1.2em;
}
#root {
  max-height: 100vh;
}
.App {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: auto 84% 1fr;
}
header {
  height: 100%;
  padding: 0.8rem 2.4rem 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1/2;
}
header > h1 {
  font-size: 2.4rem;
}
header > nav {
  display: flex;
  justify-content: center;
  align-items: center; 
}
.nav > button {
  padding: 0;
  background: none;
  color: black;
  border: none;
  margin-left: 0.8rem;
  font-size: 1.6em;
}
main {
  grid-row: 2/3;
  height: 100%;
  background: grey;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  box-sizing: border-box;
}
.productsList {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8rem;
  list-style: none;
  box-sizing: border-box;
  overflow-y: hidden;
}
.productsList li, .productsList li article, .productView {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}
.productsList li article {
  width: fit-content;
}
.productView {
  height: 100%;
}
.productsList > li > article *, .productView > * {
  margin: 0.2rem;
}
.mainBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(233, 233, 233);
  box-sizing: border-box;
  padding: 0.8rem 2.4rem 0.8rem 2.4rem;
}
.inputContainer {
  display: flex;
  flex-direction: column;
}
.buttonContainer, .buttonContainer > button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer > button {
  border: none;
  background: none;
  padding: 0 0.2rem 0 0.2rem;
  font-size: 1.6em;
}
.buttonContainer > button:first-child {
  transform: rotate(180deg)
}
/*
main > div {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 2.4rem;
  background: white;
  box-sizing: border-box;
  width: 100%;
}
*/
footer {
  grid-row: 3/4;
  background: black;
  /*
  height: 2.4rem;
  */
}
/*
.productView {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/